<div class="container">
    <button class="float-end" (click)="BacktoHome()" >Back to Product list</button>


    
       <div class="col-md-3 p-2" *ngFor="let item of ProductList">
        <div class="card">
          <div class="card-body text-center">
            <div class="imagebox" (click)="ProductViewmethod(item)">
              <img class="ProductImage" [src]="'data:image/jpg;base64,' + item.image" alt="Image">
            </div>
            <h3 class="card-title mt-2 text-center">{{ item.productName }}</h3>
            <h4 class="text-danger">Price : ৳{{ item.price }}</h4>
            <p class="card-text">Description: {{ item.description }}</p>
            <button class="btn btn-success" (click)="CartProductBtn(item)">Add to Cart</button>
          </div>
        </div>
      </div>
</div>